.header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.header img {
    width: 12%;
    height: 6%;
    padding: 2% 2%;
}